.usersTitle {
    font-size: 43px;
    color: #ff0000;
    text-align: center;
}

.users {
    margin-top: 30px;
    padding: 50px;
    text-align: center; 
}

.userCard {
    width: 800px; 
    height: 150px;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.556);
    background-color: rgb(251, 248, 242);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.057);
    transition: transform 0.3s ease;
    margin-bottom: 20px; 
    display: block; 
    margin: 10px auto; 
}

.userCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.userAvatar {
    width: 80px;
    height: auto;
    border: 3px solid black;
    float: left;
    margin-right: 20px;
}



.usersName,
.usersUsername {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
