.globe {
    width: 100px;
    margin-bottom: -20px;
}

.homeTitle {
    font-size: 43px;
    color: #EC2220;
    text-align: center;
}

.homeArticlesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.homeArticlesCard {
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    background-color: rgb(251, 248, 242);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.057);
    transition: transform 0.3s ease;
}

.homeArticlesCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.homeArticlesImg {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.homeArticlesDetails {
    margin-top: 15px;
    margin-bottom: auto;
}

.homeArticlesTitle {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.homeArticlesTime {
    font-size: 16px;
    color: #666
}

.homeTopicContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.homeTopicBtn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #ff0000;
    border-radius: 30px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    color: #EC2220;
    transition: all 0.3s ease;
    font-size: 25px;
    background-color: rgb(251, 248, 242);
}

.homeTopicBtn:hover {
    background-color: #EC2220;
    color: #fff;
    cursor: pointer;
}

.sortByContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 100px;
}

.sortBy {
    padding: 10px;
    border: 2px solid #EC2220;
    border-radius: 30px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    color: #EC2220;
    transition: all 0.3s ease;
    font-size: 20px;
    background-color: rgb(251, 248, 242);
}

.sortBy:hover {
    background-color: #EC2220;
    color: #fff;
    cursor: pointer;
}
