.comment {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
}

.commentCard {
    background-color: rgba(0, 0, 0, 0.055);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.commentsTitle {
    font-size: 38px;
    margin-bottom: 5px;
    margin-top: 50px;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

.commentBody {
    font-size: 20px;
}

.commentAuthor, .commentVotes, .commentDate {
    font-size: 15px;
    color: rgb(85, 85, 85);
}

#addComment {
    width: 100%;
    
}


.submitBtn {
    font-size: 20px;
    padding: 10px 20px;
}

.delete {
    font-size: 13px;
    padding: 5px 10px;
}

.submitBtn, .delete {
    
    margin: 10px;
    border: 2px solid #ff0000;
    border-radius: 30px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    color: #EC2220;
    transition: all 0.3s ease;
    background-color: transparent;
}

.submitBtn:hover, .delete:hover {
    background-color: #EC2220;
    color: #fff;
    cursor: pointer;
}

#addComment {
    background-color: transparent;
    border-radius: 5px;
}